body {
    display: flex;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 14px;
    background: #fafbff;
    letter-spacing: -0.01em;
}

.container {
    width: 968px;
}

.sidebar {
    padding: 36px 28px 77px;
    background-color: #fff;
}

.sidebar__logo {
    margin-bottom: 53px;
}

.sidebar__item {
    width: 250px;
}

.sidebar__link {
    display: flex;
    align-items: center;
    padding: 11px 8px 11px 11px;
    margin-bottom: 18px;
    color: #9197b3;

}

.sidebar__img {
    padding-right: 14px;
}

.sidebar__link_active {
    background: #5932ea;
    border-radius: 8px;
    color: #fff;
}

.sidebar__user {
    display: flex;
}

.sidebar__foto {
    padding-right: 12px;
    width: 42px;
    height: 42px;
}

.sidebar__job {
    font-weight: 400;
    font-size: 12px;
    color: #757575;
}

.content {
    padding-top: 41px;
    padding-left: 75px;
    padding-right: 95px;
}

.content__title {
    font-size: 24px;
    margin-bottom: 51px;
}

.content__table {
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 0 10px 60px 0 rgba(226, 236, 249, 0.5);
    padding: 30px 44px 40px 38px;
}

.content__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.content__table-title {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 7px;
}

.content__table-desc {
    letter-spacing: -0.01em;
    color: #16c098;
}

.table__title {
    padding-bottom: 14px;
    border-bottom: 1px solid #eee;
    color: #b5b7c0;

}

.table {
    width: 100%;
    text-align: left;
}

.table__row {
    color: #292d32;
    padding: 24px 0;
    border-bottom: 1px solid #eee;
}

.table__link {
    display: inline;
    border-radius: 4px;
    padding: 4px 12px;
    width: 84px;
}

.table__link_active {
    background: rgba(22, 192, 152, 0.38);
    border: 1px solid #00b087;
    color: #008767;
}

.table__link_inactive {
    background: #ffc5c5;
    color: #df0404;
    border: 1px solid #df0404;
}

.content__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content__text {
    color: #b5b7c0;
}

.nagination__list {
    display: flex;
    align-items: center;
    gap: 12px;
}

.nagination__item {
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 6px 9px;
    background: #f5f5f5;
    color: #404b52;
    font-size: 12px;
    line-height: 100%;
}

.nagination__item_active {
    background: #5932ea;
    color: #fff;
}